.productDetails-section {
    padding: var(--padding-section);
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    @media screen and (max-width: 600px) {
        padding: 5rem 5rem;
        flex-direction: column;
    }

    & .product-image-container {
        position: relative;
        flex: 1;

        & .product-bg-img {
            position: sticky;
            top: 50%;
            left: 50%;
            width: 100%;
            min-width: 50rem;

            @media screen and (max-width: 510px) {
                min-width: 20rem;
            }
        }

        & .product-img {
            position: absolute;
            top: 25%;
            left: 7%;
            transform: translateY(-25%);
            width: 90%;
        }
    }

    & .product-information-container {
        min-width: 250px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        gap: 2rem;

        @media screen and (max-width: 600px) {
            min-width: 20rem;
            align-items: center;
        }
        
        & .productDetails-title {
            text-align: center;
        }

        & .ingredients-span, .price-span {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: var(--letter-spacing);
        }

        & .price-span {
            color: var(--yellow);
            font-size: 3rem;
        }
    }
}