.order-confirmation-section {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    width: 100%;
    min-height: 50rem;
    padding: var(--padding-section);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    & .shippIcon {
        font-size: 10rem;
        color: var(--yellow);
    }
    
    & .text-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 70rem;
        line-height: 2.5rem;

        & a {
            text-decoration: underline;
        }
    
        & .text-highlight {
            color: var(--yellow);
            font-weight: bold;
        }
    }
}