.order-confirmation-section {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    width: 100%;
    min-height: 50rem;
    padding: var(--padding-section);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    border-bottom: 0.1rem solid #fff;
    border-top: 0.1rem solid #fff;

    @media screen and (max-width: 684px) {
        padding: 3rem;
    }

    & .shippIcon {
        font-size: 10rem;
        color: var(--yellow);

        @media screen and (max-width: 684px) {
            font-size: 8rem;
        }
    }
    
    & .text-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 70rem;
        line-height: 2.5rem;

        & a {
            text-decoration: underline;
        }
    
        & .text-highlight {
            color: var(--yellow);
            font-weight: bold;
        }
    }
}