& thead {
    background-color: var(--yellow);
    text-transform: uppercase;
    position: sticky; 
    top: 0;

    & th {
        padding: 0.5rem 1rem;
        text-align: center;
        min-width: 10rem;
        max-width: 20rem;
        word-wrap: break-word;
    }
}