.section-checkout {
    background-color: var(--black);
    padding: var(--padding-section);
    min-height: 70vh;

    & h2 {
        text-shadow: none;
        font-size: 2rem;
        text-align: center;
    }

    & span.total-cart {
        font-weight: bolder;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        & span {
            font-size: inherit;
        }
    }

    & form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        & .form-wrapper {
            flex: 1;
            background-color: var(--white);
            border-radius: 1rem;
            min-width: 35rem;
            max-height: 60rem;
            padding: 2.5rem 3.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & input {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                border: 0.1rem solid var(--black);
            }

            & .form-wrapper__p {
                font-size: 1.1rem;
                text-align: center;
            }
            
            & .form-wrapper__input-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            & .form-wrapper_input-group {
                display: flex;
                gap: 1.5rem;

                & .form-wrapper__input-container {
                    flex: 1;

                    & input {
                        width: 100%;
                    }
                }
            }

            & .form-wrapper__payment-container {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                & .payment-container__input-group {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    
                }
            }

            & .form-wrapper__delivery-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            & .form-wrapper__products-container {
                overflow-y: auto;
            }

            & .finalize-puchase-button {
                background-color: var(--yellow);
                align-self: center;

                &:hover {
                    background-color: var(--yellow-hover);
                }
            }
        }
    }
}