.modal-content-container {
    min-width: 50rem;
    margin: 1.5rem 2rem;
    padding: 1rem;
    text-align: center;

    @media screen and (max-width: 500px) {
        min-width: 100%;
        margin: 0;
    }

    & h3 {
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        text-wrap: wrap;
    }

    p {
        margin-bottom: 3rem;
    }

    & .form-container {
        width: 100%;
        height: 100%;

        & .form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: start;
            justify-content: space-between;

            & .form__input-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;

                & input {
                    width: 100%;
                    padding: 0.7rem;
                    border-radius: 0.5rem;
                    border: 0.1rem solid black;
                    font-size: 1.7rem;
                }
            }

            & button {
                margin-top: 1rem!important;
                background-color: var(--yellow);
                transition: var(--bgc-transition);
                margin: 0 auto;

                &:hover {
                    background-color: var(--yellow-hover);
                }
            }
        }
    }

    & .delete-modal-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;

        & .delete-modal-container__message {
            font-size: 1.8rem;
        }

        & .delete-modal-container__button {
            background-color: var(--red);

            &:hover {
                background-color: var(--red-hover);
            }
        }
    }

    & .order-modal-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        flex-wrap: wrap;

        @media screen and (max-width: 350px) {
            text-align: start;
        }

        & .order-information {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            &.checkout {
                gap: 3rem;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            
            & .order-information__title {
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 1rem;
            }
        }
    }

    & .button-sent-order {
        background-color: var(--yellow);
        margin-left: 3rem;
        margin-top: 3rem;

        @media screen and (max-width: 370px) {
            margin-left: 0;
        }
    }

    & .button-change-informations {
        background-color: var(--red);

        @media screen and (max-width: 395px) {
            margin-top: 3rem;
        }
    }
}