.hero-section {
    width: 100%;
    height: 80vh;
    position: relative;
    color: var(--white);

    & .hero-section__img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: 10% 60%;
    }

    & .hero-section__text-container {
        max-width: 35%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-align: justify;

        & .byte-container {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & .hr {
                width: 1.5rem;
                height: 0.2rem;
                background-color: var(--yellow);
            }

            & span {
                font-size: 1.7rem;
            }
        }

        & .h1--highlight {
            font-size: 15rem;
            color: var(--yellow);
            margin-left: -0.8rem;
        }

        & .subtitle-container {
            bottom: 0;

            & p {
                font-size: 1.8rem;
            }
            & button {
                margin-top: 2rem;
                background-color: var(--yellow);
    
                &:hover {
                    background-color: var(--yellow-hover);
                }
            }
        }

    }
}