.hero-section {
    width: 100%;
    height: 80vh;
    position: relative;
    color: var(--white);
    background-image: url(../../../../assets/images/backgrounds/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 942px) {
        background-image: url(../../../../assets/images/backgrounds/hero_bg--mobile.jpg);
    }

    & .hero-section__text-container {
        max-width: 35%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-align: justify;

        @media screen and (max-width: 942px) {
            max-width: 80%;
            font-size: 2.1rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        & .byte-container {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @media screen and (max-width: 942px) {
                width: 100%;
                justify-content: center;
            }

            & .hr {
                width: 1.5rem;
                height: 0.2rem;
                background-color: var(--yellow);
            }

            & span {
                font-size: 1.7rem;
            }
        }

        & .h1--highlight {
            font-size: 15rem;
            color: var(--yellow);
            margin-left: -0.8rem;
            line-height: 6rem;

            @media screen and (max-width: 1150px) {
                font-size: 10rem;
            }
        }

        & .subtitle-container {
            bottom: 0;

            & p {
                font-size: 1.8rem;
            }
            & button {
                margin-top: 2rem;
                background-color: var(--yellow);
    
                &:hover {
                    background-color: var(--yellow-hover);
                }
            }
        }

    }
}