.feedback-section {
    background-image: url(../../../assets/images/home_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .feedback-section__title {
        text-align: center;
    }

    & .feedback-section__carousel {
        max-width: 50rem;
        display: flex;
        gap: 2rem;
        overflow-x: scroll;
        scroll-behavior: smooth;

        &&::-webkit-scrollbar {
            display: none;
        }

        & .carousel__testimony-card-container {
            display: flex;
            width: 100%;
        }
    }

    & .arrow {
        position: absolute;
        font-size: 3rem;
        color: var(--red);
        top: 60%;
        padding: 0;
    }

    & .arrow--left {
        left: 30rem;
    }

    & .arrow--right {
        right: 30rem;
    }

    & .button-disabled {
        display: none;
    }
}