& .testimony-container {
    min-width: 50rem;
    min-height: 12rem;
    color: var(--black);
    background-color: var(--gray);
    text-shadow: none;
    padding: 1.5rem;
    margin-top: 2.5rem;
    border-bottom: 0.4rem inset var(--yellow-hover);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 978px) {
        min-width: 40rem;
    }

    @media screen and (max-width: 597px) {
        min-width: 30rem;
        min-height: 20rem;
        padding: 2rem;
    }

    @media screen and (max-width: 350px) {
        min-width: 25rem;
        min-height: 20rem;
    }

    & .testimony-container__p {
        font-weight: 500;
        text-align: justify;
    }

    & .testimony-container__client-information-container {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        & .rating-container {
            display: flex;
            gap: 0.2rem;
            color: var(--red);
        }
    }
}