& td {
    padding: 0.5rem 1rem;
    text-align: center;
    min-width: 10rem;
    word-wrap: break-word;

    &.address {
        min-width: 40rem;
    }
}

& .status {
    width: 20rem;
    
    & span {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 600;
    }
}

