& .add-cart-button {
    background-color: var(--yellow);

    &.details {  
        margin-top: 2rem;
        align-self: center;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &:hover {
        background-color: var(--yellow-hover);
    }
}