.cart {
    width: 34rem;
    min-height: 100dvh;
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem 2.5rem;
    box-shadow: 0rem 0.2rem 3rem 0rem rgba(0, 0, 0, 0.599);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: -37rem;
    transition-duration: 300ms;
    z-index: 1;
    
    &.opened {
        right: 0;
    }

    &.opened #cart-overlay {
        display: block;
    }

    & .cart__header {
        max-height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        & .cart-title {
            font-size: 2rem;
        }

        & .close-cart-button {
            color: inherit;
            padding: 0; 

            & .close-cart-button__icon {
                font-size: 3rem;
            }
        }
    }

    & .cart__content {
        max-height: 70vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    & .cart__footer {
        max-height: 15vh;

        & .cart-price {
            font-size: 1.6rem;
        }

        & .button-finalize-cart {
            background-color: var(--yellow);
            width: 100%;
            margin-top: 1rem;
            transition: var(--bgc-transition);

            &:hover {
                background-color: var(--yellow-hover);
            }
        }
    }

    & #cart-overlay {
        display: none;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 34rem);
        height: 100%;
    }
}