& .contact-section {
    color: var(--white);
    display: flex;
    flex-flow: column;
    background-image: url(../../../../assets/images/backgrounds/home_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    & .contact-section__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;

        & .content__contacts { 
            display: flex;
            flex-direction: column;
            gap: 5rem;

            & .social-media-list {
                display: flex;
                flex-flow: column;
                gap: 1rem;

                & .social-media-list__li {
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;

                    & .social-media-img {
                        width: 3rem;
                    }

                    a {
                        font-size: 1.8rem;
                    }
                }
            }

            & .store-infos {
                & .store-infos__content {
                    display: flex;
                    flex-flow: column;
                    gap: 0.5rem;
                    margin-top: 1.5rem;

                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        & .localization__map {
            width: 55rem;
            height: 35rem;
            border: 0;

            @media screen and (max-width: 522px) {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1098px) {
    & .contact-section {
        align-items: center;
        text-align: center;

        & .title-container {
            margin-bottom: 5rem;
        }

        & .contact-section__content {
            justify-content: center;

            & .content__contacts { 
                & .social-media-list {
                    align-items: center;
                }
            }
        }
    }
}