header {
    width: 100%;
    max-height: 6rem;
    background-color: var(--black);
    padding: 1.5rem 10rem;
    box-shadow: 0rem 0.2rem 3rem 0rem rgba(0,0,0,0.75);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 3;

    & .logo {
        width: 8rem;
        cursor: pointer;
    }

    & .links-container {
        display: flex;
        align-items: center;
        gap: 2rem;

        & .button-cart {
            padding: 0rem 0.5rem;
            
            & .button-cart__icon {
                color: var(--white);
                font-size: 1.8rem;
                margin-top: 0.5rem;
                transition: var(--color-transition);
    
                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }
}