header {
    width: 100%;
    max-height: 6rem;
    background-color: var(--black);
    padding: 1.5rem 10rem;
    box-shadow: 0rem 0.2rem 3rem 0rem rgba(0,0,0,0.75);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 3;

    @media screen and (max-width: 425px) {
        padding: 1.5rem 5rem;
    }

    & .logo {
        width: 8rem;
        cursor: pointer;
    }

    & .links-container {
        display: flex;
        gap: 2rem;

        & .nav-header-container {
            @media screen and (max-width: 945px){
                display: none;
            }
        }

        & .header-button {
            padding: 0rem 0.5rem;

            & .header-icon {
                color: var(--white);
                font-size: 1.8rem;
                transition: var(--color-transition);
    
                &:hover {
                    color: var(--yellow);
                }

                @media screen and (max-width: 945px){
                    font-size: 2.1rem;
                }
            }

            &.menu-mobile {
                display: none;

                @media screen and (max-width: 945px){
                    display: block;
                }
            }
        }
    }
}