.productDetails-section {
    padding: 5rem 10rem;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    & .product-image-container {
        position: relative;
        flex: 1;

        & .product-bg-img {
            position: sticky;
            top: 50%;
            left: 50%;
            width: 100%;
            min-width: 550px;
        }

        & .product-img {
            position: absolute;
            top: 25%;
            left: 7%;
            transform: translateY(-25%);
            width: 90%;
        }
    }

    & .product-information-container {
        min-width: 250px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
        gap: 2rem;
        
        & .productDetails-title {
            text-align: center;
        }

        & .ingredients-span, .price-span {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: var(--letter-spacing);
        }

        & .price-span {
            color: var(--yellow);
            font-size: 3rem;
        }

        & .add-cart-button {
            background-color: var(--yellow);
            margin-top: 2rem;
            align-self: center;
            display: flex;
            gap: 1rem;
            align-items: center;
    
            &:hover {
                background-color: var(--yellow-hover);
            }
        }
    }
}