:root {
    --black: #000;
    --white: #fff;
    --yellow: #ffc200;
    --yellow-hover: #d4a300;
    --red: #b01e1c;
    --red-hover: #8d1a18;
    --gray: #ECECEC;
    --font: 'Poppins', sans-serif;
    --handwritten-font: "Borel", cursive;
    --letter-spacing: 0.1rem;
    --color-transition: color 400ms ease-in-out;
    --bgc-transition: background-color 400ms ease-in-out;
    --txt-shadow: 0.1rem 0.3rem 0.9rem rgba(0,0,0,0.6);
}

html {
    height: 100dvh;
    font-size: 62.5%;
    font-family: var(--font);
}

body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: var(--letter-spacing);
}

h2 {
    font-size: 4rem;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    text-shadow: var(--txt-shadow);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: var(--title-spacing);
}

h4 {
    font-size: 2rem;
}

p, a, li, span {
    font-size: 1.5rem;
    letter-spacing: var(--letter-spacing);
}

a {
    color: var(--white);
    transition: var(--color-transition);

    &:hover {
    color: var(--yellow);
    }
}

.home-section {
    width: 100%;
    text-shadow: var(--txt-shadow);
    padding: 5rem 10rem;
    background-color: var(--black);

    & .title-container {
        & h3 {
            font-family: var(--handwritten-font);
            font-size: 18px;
            color: var(--yellow);
            font-weight: 400;
            text-shadow: var(--txt-shadow);
        }
    }

    & .text-highlight {
        color: var(--yellow);
        text-transform: uppercase;
        font-weight: 600;
    }
}

button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background-color: transparent;
    color: var(--black);
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 1rem;
    transition: var(--bgc-transition);
}