& tbody {
    & td {
        padding: 0.5rem 1rem;
        text-align: center;
/*         min-width: 10rem; */
        max-width: 20rem;
        word-wrap: break-word;
    }

    & .status {
        width: 20rem;
        
        & .status__span {
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-weight: 600;
        }
    }
}

.order-modal__change-status {
    font-weight: 600;
    margin-left: 8px;
    text-decoration: underline;
    cursor: pointer;
}