& .nav-list {
    display: flex;
    gap: 2rem;

    & .nav-list__item {
        & a {
            color: inherit;
            transition: var(--color-transition);

            &:hover {
                color: var(--yellow);
            }
        }
    }
}